<elev>
    <noscript>Enable Javascript</noscript>
    <script>
        function logoff() {
            let url = "./logout"
            fetch(url, {
                method: 'POST',
                credentials: 'include' 
            }).then((res) => {
                console.log(res);
                window.location.replace('./')
            }).catch();
        }
    </script>
    ELEV
    <button onclick="logoff()">Logout</button>
</elev>