<logbox>
    <div id="err"></div>
    <ltitle> Logare </ltitle>
    <form id="loginbox">
        <label>Numar Matricol</label><br />
        <input type="text" id="matricol" for="matricol" required><br />
        <label>Parola</label><br />
        <input type="password" id="password" name="password" for="email" required><br />
        <input type="submit" value="Intrati in cont">
    </form>
    <script>
        currentTimeout = new Object;
        apiPort = 3999;
        $('#loginbox').submit((ev) => {
            ev.preventDefault();
            url = 'https://' + document.domain + ':' + apiPort + '/';
            var request = new XMLHttpRequest();
            request.open('POST', url, true)
            request.onload = () => {
                console.log(request.status);
            }
            request.send();
        })
    </script>
</logbox>