<logbox>
    <ltitle> Logare </ltitle>
    <form method="POST" action="/login">
        <label>Numar Matricol</label><br />
        <input type="text" id="email" name="email" for="email"><br />
        <label>Parola</label><br />
        <input type="password" id="password" name="password" for="email"><br />
        <input type="submit" value="Intrati in cont">
    </form>
</logbox>