<logbox>
    <div id="err"></div>
    <ltitle> Logare </ltitle>
    <form id="loginbox">
        <label>Numar Matricol</label><br />
        <input type="text" id="matricol" for="matricol" required><br />
        <label>Parola</label><br />
        <input type="password" id="password" name="password" for="email" required><br />
        <input type="submit" value="Intrati in cont">
    </form>
    <script>
        currentTimeout = new Object;
        apiPort = 3999;
        $('#loginbox').submit((ev) => {
            ev.preventDefault();
            var $form = $(this)
            url = 'https://' + document.domain + ':' + apiPort + '/login';
            fetch(url, {
                credentials: "same-origin/include",
                method: 'POST',
                cors: 'no-cors',
                body: {
                    matricol: $('#matricol').val(),
                    password: $('#password').val()
                }
            }).then((res) => {
                let errEl = document.getElementById('err');
                switch(res.status) {
                    case 500:
                        clearTimeout(currentTimeout);
                        errEl.innerText = 'Eroare de server, incercati mai tarziu';
                        errEl.style.display = 'block';
                        currentTimeout = setTimeout(() => { 
                            let errEl = document.getElementById('err')
                            errEl.style.display = 'none'; 
                        }, 30000)
                        break;
                    case 401: 
                        clearTimeout(currentTimeout);
                        errEl.innerText = 'Date incorecte.'
                        err.style.display = 'block'
                        currentTimeout = setTimeout(() => {
                            let errEl = document.getElementById('err');
                            errEl.style.display = 'none';
                        }, 30000);
                        break;
                    case 200:
                        errEl.style.display = 'none';
                        window.location.replace( document.domain + '/');
                        break;
                }
            })
        })
    </script>
</logbox>